*
{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input,button,a
{
    padding: 10px;
}
body
{
    background-color: slateblue;
}

header{
    line-height: 10vh;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside
{
    position: fixed;
    top:30vh;
    background-color:black;
    overflow: auto;
    width: 200px;
    color:white;
    transition:0.3s;
    transform: translateX(-100%);
}
aside.active
{
    transform: translateX(0%);
}

aside div
{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

footer
{
    padding: 10px;
    background-color: black;
    color:white;
    text-align: center;
}
.products
{
    
}
.products .item
{
    width: 12%;
    display: inline-table;
    margin:1%;
    padding: 1%;
    background-color: white;
    box-shadow: 0 10px 10px black;
    position: relative;
}
.products .item img
{
    width: 100%;
}
.products .item .discount
{
    background-color: yellow;
    position: absolute;
    top:50%;
    right:0;
    padding: 10px;
}
.products .item .tags
{
    background-color:black;
    color:white;
    position: absolute;
    top:0%;
    left:0;
    padding: 10px;
}
.products .item .cart-btn
{
    background-color:black;
    color:white;
    position: absolute;
    bottom:0%;
    right:0;
    padding: 10px;
}

.filters
{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.filters button.active
{
    background-color: black;
    color:white;
}


@media (max-width:1220px)
{
    .products .item
    {
        width: 12%;
    }
}
@media (max-width:820px)
{
    .products .item
    {
        width: 23%;
    }
}
@media (max-width:420px)
{
    .filters{
        flex-flow: column;
    }
    .products .item
    {
        width: 40%;
    }
}








